/* app css stylesheet */

html, body {
    /*height: 100%;*/
    margin: 0;
    text-align: center; /* TO DELETE : just for the dummy text */
    background-color: #F4F4F4;
}
#page-header-main, #page {
	width: 80%;
}
#page-header {
    height: 42px;
    width: 100%;
    background-color: #CFCFCF;
    text-align: center; /* for the menu */
}
#page-header-logo, #page-header-main, #page-header-menu, #page-header-search, #page-header-login {
	height: 100%;
}
#page-header-logo {
    float: left;
    width: 10%;
}
#page-header-main {
    background-color: #CFCFCF;
    margin: 0;
    float: left;
}
#page-header-menu {
    width: 70%;
    float: left;
}
#page-header-search {
    width: 30%;
    float: left;
}
#page-header-login {
    float: right;
    width: 10%;
}
#page {
    min-height: 800px;
    margin: 0 auto;
}
#page-content {
    min-height: 600px;
    background-color: #E8E8E8;
}
#page-footer {
    min-height: 100px;
    background-color: #CFCFCF;
}
#app-container {

}
#map-canvas {
    float: left;
    width: 60%;
    background-color: red;
}
#properties-panel-1, #properties-panel-2 {
    float: right;
    width: 40%;
    background-color: blue;
}
h1 {
	margin: 0;
}

@media only screen and (max-width: 799px) {
    #page-header-main, #page {
        width: 100%;
    }
    #page-header-main {
        clear: both;
    }
    #page-header-logo {
        width: 50%;
    }
    #page-header-login {
        float: none;
        display: inline-block;
        width: 50%;
    }
}