/* app css stylesheet */

html, body {
    /*height: 100%;*/
    margin: 0;
    text-align: center; /* TO DELETE : just for the dummy text */
    background-color: #F4F4F4;
}

/* ======================= */
/* dimension related stuff */
/* ======================= */

#page-header-main, #page {
	width: 50%;
}
@media only screen and (min-width: 800px) and (orientation: landscape) {
	#page-header-main, #page {
		width: 80%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 799px) and (orientation: landscape) {
	#page-header-main, #page {
		min-width: 400px;
		width: 100%;
	}
}
/* end of dimension related stuff */

#page-header {
    height: 42px;
    width: 100%;
    background-color: #CFCFCF;
    text-align: center; /* for the menu */
}
#page-header-logo, #page-header-main, #page-header-menu, #page-header-search, #page-header-login {
	height: 100%;
}
#page-header-logo {
    float: left;
    width: 10%;
}
#page-header-main {
    display: inline-block;
}
#page-header-menu {
    width: 70%;
    float: left;
}
#page-header-search {
    width: 30%;
    float: left;
}
#page-header-login {
    float: right;
    width: 10%;
}
#page {
    min-height: 800px;
    margin: 0 auto;
}
#page-content {
    min-height: 600px;
    background-color: #E8E8E8;
}
#page-footer {
    min-height: 100px;
    background-color: #CFCFCF;
}
#map-canvas {
    height: 200px;
}
h1 {
	margin: 0;
}