<div class="app-container">
    <div class="map-canvas clearfix" ng-controller="MapCtrl">
        <div class="map-panel"></div>
        <google-map class="map-canvas-map" 
                    center="mapConfig.center" 
                    zoom="mapConfig.zoom" 
                    events="mapConfig.events"
                    draggable="true"
                    options="mapConfig.options"></google-map>
    </div>
    <div class="properties-panel-1 clearfix"><p>Selection related properties</p></div>
    <div class="properties-panel-2 clearfix"><p>General properties</p></div>
</div>
